@using WebSite.Controllers
@model IEnumerable<WebSite.Models.Category>

@{
    ViewBag.Title = "Register";
}

<h2>Register to newsletter</h2>

@using (Html.BeginForm("Register", "Newsletter"))
{
    @Html.Label("First Name")
    @Html.TextBox("FirstName")
    <br />
    @Html.Label("Last Name")
    @Html.TextBox("LastName")
    <br />
    @Html.Label("Email")
    @Html.TextBox("Email")
    <ul>
        @foreach (var category in Model)
        {
            <li style="list-style-type: none;">
                <input type="checkbox" name="categories" value="@category.Id"/>@category.Name</li>
        }
    </ul>
    <button type="submit">Register</button>
}